body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:970px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:220px;
  width:240px;
  height:560px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:560px;
}
#u1 {
  position:absolute;
  left:2px;
  top:524px;
  width:236px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:966px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:150px;
  width:227px;
  height:51px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:51px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:1730px;
  width:960px;
  height:200px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:92px;
  width:956px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:1650px;
  width:970px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:966px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:240px;
  width:180px;
  height:340px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:340px;
}
#u11 {
  position:absolute;
  left:2px;
  top:162px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:250px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:320px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:390px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:460px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:740px;
  top:150px;
  width:220px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:216px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:260px;
  top:220px;
  width:235px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:231px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:495px;
  top:220px;
  width:235px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:231px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:260px;
  top:270px;
  width:470px;
  height:380px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:380px;
}
#u27 {
  position:absolute;
  left:2px;
  top:182px;
  width:466px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:260px;
  top:660px;
  width:470px;
  height:120px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:120px;
}
#u29 {
  position:absolute;
  left:2px;
  top:52px;
  width:466px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:519px;
  top:790px;
  width:201px;
  height:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:740px;
  top:220px;
  width:220px;
  height:100px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:100px;
}
#u33 {
  position:absolute;
  left:2px;
  top:42px;
  width:216px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:740px;
  top:330px;
  width:220px;
  height:478px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:478px;
}
#u35 {
  position:absolute;
  left:2px;
  top:231px;
  width:216px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:740px;
  top:818px;
  width:220px;
  height:116px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:116px;
}
#u37 {
  position:absolute;
  left:2px;
  top:50px;
  width:216px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:970px;
  width:950px;
  height:35px;
}
#u38_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:956px;
  height:41px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:40px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:35px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:302px;
  top:0px;
  width:111px;
  height:35px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:413px;
  top:0px;
  width:157px;
  height:35px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:570px;
  top:0px;
  width:190px;
  height:35px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:760px;
  top:0px;
  width:190px;
  height:35px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:1005px;
  width:950px;
  height:625px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:625px;
}
#u51 {
  position:absolute;
  left:2px;
  top:304px;
  width:946px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
  width:320px;
}
#u2_img.a {
  width:320px;
}
#u3.a {
  width:316px;
}
#u4.a {
}
#u6.a {
  top:3050px;
  width:320px;
  height:600px;
}
#u6_img.a {
  width:320px;
  height:600px;
}
#u7.a {
  top:292px;
  width:316px;
}
#u8.a {
  top:2970px;
  width:320px;
}
#u8_img.a {
  width:320px;
}
#u9.a {
  width:316px;
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u50.a {
}
