
#u1116_img.a {
}
#u1116_img.a.selected {
}
#u1117.a {
}
#u1118.a {
  left:602px;
  top:1282px;
}
#u1118_img.a {
}
#u1118_img.a.selected {
}
#u1119.a {
}
#u1120.a {
  position:absolute;
  left:370px;
  top:1153px;
}
#u1121.a {
}
#u1123.a {
}
#u1125.a {
}
#u1127.a {
}
#u1129.a {
}
#u1131.a {
  left:60px;
  top:1772px;
}
#u1131_img.a {
}
#u1131_img.a.selected {
}
#u1131_img.a.mouseOver {
}
#u1131_img.a.mouseDown {
}
#u1132.a {
}
#u1133.a {
  left:444px;
  top:961px;
}
#u1133_img.a {
}
#u1134.a {
}
#u1135.a {
  left:551px;
  top:997px;
}
#u1135_img.a {
}
#u1136.a {
}
#u1135_ann.a {
  left:605px;
  top:993px;
}
#u1137.a {
  left:531px;
  top:1323px;
}
#u1137_img.a {
}
#u1138.a {
}
#u1137_ann.a {
  left:661px;
  top:1319px;
}
#u1139.a {
  left:468px;
  top:995px;
}
#u1139_img.a {
}
#u1140.a {
}
#u1141.a {
  left:484px;
  top:995px;
}
#u1141_img.a {
}
#u1142.a {
}
#u1143.a {
  left:500px;
  top:995px;
}
#u1143_img.a {
}
#u1144.a {
}
#u1145.a {
  left:516px;
  top:995px;
}
#u1145_img.a {
}
#u1146.a {
}
#u1147.a {
  left:532px;
  top:995px;
}
#u1147_img.a {
}
#u1148.a {
}
#u1149.a {
  left:518px;
  top:1028px;
  width:123px;
  height:238px;
}
#u1149_img.a {
  width:123px;
  height:238px;
}
#u1150.a {
  top:111px;
  width:119px;
}
#u1151.a {
  left:623px;
  top:995px;
}
#u1151_img.a {
}
#u1152.a {
}
#u1153.a {
  left:644px;
  top:997px;
}
#u1153_img.a {
}
#u1154.a {
}
#u1155.a {
  left:484px;
  top:1359px;
}
#u1155_img.a {
}
#u1156.a {
}
#u1157.a {
  left:502px;
  top:1326px;
}
#u1157_img.a {
}
#u1157_img.a.selected {
}
#u1158.a {
}
#u1159.a {
  left:534px;
  top:1282px;
}
#u1159_img.a {
}
#u1159_img.a.selected {
}
#u1160.a {
}
#u1159_ann.a {
  left:552px;
  top:1278px;
}
#u1161.a {
  left:568px;
  top:1282px;
}
#u1161_img.a {
}
#u1161_img.a.selected {
}
#u1162.a {
}
#u1163.a {
  left:602px;
  top:1282px;
}
#u1163_img.a {
}
#u1163_img.a.selected {
}
#u1164.a {
}
#u1165.a {
}
#u1167.a {
  position:absolute;
  left:10px;
  top:200px;
}
#u1168.a {
}
#u1168_img.a {
}
#u1169.a {
}
#u1172.a {
}
#u1174.a {
  position:fixed;
  right:0px;
  top:0px;
  width:41px;
  height:373px;
}
#u1175.a {
}
#u1177.a {
}
#u1179.a {
}
